body{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    font-family: sans-serif;
    flex-direction: column;
    gap: 20px;
}

h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.progress{
    width: 300px;
    height: 20px;
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #0ea5e9;
}

.progress-bar{
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #06b6d4,#3b82f6 );
    border-radius: 20px;
    transition: width 0.1s linear;
    box-shadow: 0 0 10px #3b82f6;
}
#percent{
    color: #38bdf8;
    font-size: 18px;
    font-weight: 600;

}